<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <base href="https://assets.media.pledre.com/school-templates/template_1/" target="_blank">


  <title>{{ school_details.name }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ school_details.logo }}" rel="icon">
  <link href="{{ school_details.logo }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="#" class="logo"><img src="{{ school_details.logo }}" alt="" class="img-fluid"></a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Home</a></li>
          <li class="dropdown"><a><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for course in course_list %}
                <li><a target="_self" href="https://{{ school_domain }}/course-details/{{ course.slug }}">{{ course.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for category in category_list %}
                <li><a target="_self" href="https://{{ school_domain }}/course-details/{{ category.slug }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% if sector_1_status %}
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>{{ sector_1_header }}</h1>
          <h2>{{ sector_1_description }}</h2>
          <div><a target="_self" href="https://{{ school_domain }}/dashboard" class="btn-get-started">{{ sector_1_button_text }}</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{{ sector_1_image }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  {% endif %}

  {% if sector_2_status %}
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div
                  class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative"
                  style="background: url('{{  sector_2_image }}') center center no-repeat"
          >
            {% comment %}<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>{% endcomment %}
          </div>
          {% comment %}<div class="col-lg-6 order-1 order-lg-2 hero-img">{% endcomment %}
            {% comment %}<img src="{{ sector_2_image }}" class="img-fluid" alt="">{% endcomment %}
          {% comment %}</div>{% endcomment %}

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>{{ sector_2_header }}</h3>
            <p>{{ sector_2_description }}</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">{{ sector_2_item_1 }}</a></h4>
              <p class="description">{{ sector_2_item_1_description }}</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">{{ sector_2_item_2 }}</a></h4>
              <p class="description">{{ sector_2_item_2_description }}</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">{{ sector_2_item_3 }}</a></h4>
              <p class="description"> {{ sector_2_item_3_description }}</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    {% endif %}


    {% if sector_3_status %}
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>{{ sector_3_headers }}</h3>
          <p>{{ sector_3_description }}</p>
        </div>

        <div class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ sector_3_item_1_description }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ sector_3_item_1_headers }}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ sector_3_item_2_description }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ sector_3_item_2_headers }}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ sector_3_item_3_description }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ sector_3_item_3_headers }}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ sector_3_item_4_description }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ sector_3_item_4_headers }}</p>
          </div>
        </div>
      </div>
    </section><!-- End Counts Section -->
    {% endif %}


    {% if sector_4_status %}

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ testimonial_1_image }}" class="testimonial-img" alt="">
                <h3>{{ testimonial_1_name }}</h3>
                <h4>{{  testimonial_1_title}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ testimonial_1_testimony }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ testimonial_2_image }}" class="testimonial-img" alt="">
                <h3>{{ testimonial_2_name }}</h3>
                <h4>{{ testimonial_2_title }}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ testimonial_2_testimony }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ testimonial_3_image }}" class="testimonial-img" alt="">
                <h3>{{ testimonial_3_name }}</h3>
                <h4>{{ testimonial_3_title }}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ testimonial_3_testimony }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ testimonial_4_image }}" class="testimonial-img" alt="">
                <h3>{{ testimonial_4_name }}</h3>
                <h4>{{ testimonial_4_title }}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ testimonial_4_description }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
    {% endif %}


    <!-- ======= Team Section ======= -->
    {% if sector_5_status %}

    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p> More information on the team.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ team_1_image }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ team_1_name }}</h4>
                <span>{{ team_1_title }}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ team_2_image }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ team_2_name }}</h4>
                <span>{{ team_2_title }}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ team_3_image }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ team_3_name }}</h4>
                <span>{{ team_3_title }}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ team_4_image }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ team_4_name }}</h4>
                <span>{{ team_4_title }}</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    {% endif %}


    {% comment %}Dynmic section begin {% endcomment %}
    {{ template_group_layouts }}
    {% comment %}Dynmic section end {% endcomment %}


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact us via.</p>
          <br />
          <div>
            <h4>Email:</h4>
            <p>{{ school_details.email }}</p>
          </div>
          <div>
            <h4>Call:</h4>
            <p>{{ school_details.phone_no }}</p>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        <a href="https://pledre.com"  target="_blank" style="text-decoration: none; color: inherit">
        Created with  <strong><span>Pledre</span></strong>. Create your virtual school today
        </a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>